<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- CPU -->
    <bean class="com.naresh.UpiPaymentMethod" id="UPI"></bean>

    <bean class="com.naresh.GPU.AMD" id ="AMD"></bean>
    <bean class="com.naresh.GPU.NVIDIA" id="NVIDIA"></bean>
    <bean class="com.naresh.GPU.Intel" id="INTEL"></bean>

    <bean class="com.naresh.student.Student" id="student">
        <constructor-arg name="rollno" value="2357046"/>
        <constructor-arg name="name" value="SATWIK"/>
        <constructor-arg name="address" value="MORADABAD"/>
    </bean>

</beans>